@charset "utf-8";

@font-face{
    font-family: style2;
    src: url(Pokemon_Solid.ttf) format('ttf'),
        url(Pokemon_Solid.woff) format('woff'),
        url(Pokemon_Solid.woff2) format('woff2');
}
html{
    font-family: style1, style2, sans-serif;
}
@font-face{
    font-family: Guardian;
    src: url("Guardian.ttf") format("ttf"),
        url("Guardian.woff") format("woff"),
        url("Guardian.woff2") format("woff2");
}
html{
    font-family:Guardian,sans-serif;
}