@font-face{
    font-family: pokemonStyle;
    src: url("Pokemon GB.ttf") format("ttf"),
        url("Pokemon GB.woff") format("woff"),
        url("Pokemon GB.woff2") format("woff2");
}
html{
    font-family: pokemonStyle, sans-serif;
}
@font-face{
    font-family: Guardian;
    src: url("Guardian.ttf") format("ttf"),
        url("Guardian.woff") format("woff"),
        url("Guardian.woff2") format("woff2");
}
html{
    font-family:Guardian,sans-serif;
}